

    <h2>List of departement</h2>
    <div>
        <input type="number" placeholder="chercher un departement" [(ngModel)]="chercher">
    </div>
    <div>
        <button (click)="calcule()">calcule</button>
        <p>le nombre totale des employer est {{nbrTotalEmploye}} </p> 
    </div>

    <table border ="1">
        <tr>
                <td>id</td>
                <td>matricule</td>
                <td>domaine</td>
                <td>nb_employer</td>
                <td>max_salaire</td>
                <td>editer des info</td>
                
        </tr>
        <tbody *ngFor="let dep of Listdepartement">
            <tr *ngIf="dep.max_salaire < chercher || chercher==null">
                <th>{{dep.id}}</th>
                <th>{{dep.matricule}}</th>
                <th>{{dep.domaine}}</th>
                <th>{{dep.nb_employer}}</th>
                <th>{{dep.max_salaire}}</th>
                <th><button [routerLink]="['/edit/',dep.id]">editer departement</button></th>
               
            </tr>
        </tbody>
    </table>
    
    
